.books {
  display: flex;
  padding: 1em;
}

.book {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.delete {
  background-color: brown;
}

.update {
  background-color: rgb(103, 103, 233);
}

img {
  min-width: 200px;
  min-height: 300px;
  object-fit: cover;
  background-color: bisque;
}
